.Menu {
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.2), 0 10px 10px -5px rgba(0, 0, 0, 0.2);
  background-color: rgb(30,33,36);;
  text-align: center;
  width: auto;
  padding-top: 10px;
  overflow: hidden;
  margin-bottom: 3rem;
  height: 728px;
  width: 300px;
  height: auto;
  margin: auto;
  float: right;
  margin-right: 20px;
  border-color: rgb(64,73,78);
  color: whitesmoke;
  margin-top: 3rem;
}